*{
    margin: 0;
    padding: 0;
    background: url('https://png.pngtree.com/png-vector/20190927/ourmid/pngtree-lovely-bat-clipart-vector-png-element-png-image_1749074.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

